// OVERALL

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: $darker;
	font-family: 'Montserrat', sans-serif;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}


.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.content-container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	@extend %label;
}

p {
	margin: 0;
}

.btn {
	transition: background-color .2s linear, box-shadow .2s linear, transform .1s ease;


	&:hover {
		background-color: #E2C4BA;
		color: #000;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}

	&:active {
		transform: translateY(10px);
	}
}